.tela3 {
    width: 375px;
    margin-top: 108px;
    margin-bottom: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
  }
  
  .tela3 .cadeiras {
    margin-top: 41px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .cadeiras .cadeira {
    background-color: #c3cfd9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 11px;
    width: 26px;
    height: 26px;
    border: 1px solid #808f9d;
    border-radius: 12px;
    margin: 0 3.25px 18px 3.25px;
    cursor: pointer;
  }
  
  .tela3 .verde {
    background-color: #8dd7cf;
    border: 1px solid #45bdb0;
  }
  
  .tela3 .amarela {
    background-color: #fbe192;
    border: 1px solid #f7c52b;
  }
  
  .indice {
    display: flex;
    width: 286px;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .legenda {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circulo {
    width: 25px;
    height: 25px;
    border-radius: 17px;
    background-color: #c3cfd9;
    border: 1px solid #808f9d;
    margin-bottom: 8px;
  }
  
  .legenda p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #4e5a65;
  }
  
  .dados {
    width: 325px;
    margin-bottom: 47px;
  }
  
  .dados p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #293845;
  }
  
  .dados input {
    width: 325px;
    height: 51px;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-indent: 10px;
    outline: none;
  }
  
  .dados input::placeholder {
    font-style: italic;
    color: #afafaf;
  }
  