.tela2 {
    width: 375px;
    margin-top: 108px;
    margin-bottom: 117px;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
  }
  
  .tela2 .sessoes {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
  }
  
  .sessoes .sessao {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .sessao p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #293845;
    margin-bottom: 25px;
  }
  
  .horarios {
    display: flex;
    flex-wrap: wrap;
  }
  
  .horarios .horario {
    margin-right: 8px;
    margin-bottom: 8px;
    width: 83px;
    height: 43px;
    background-color: #e8833a;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  